main{
    background-color: #f1f1f0;
    /* padding: 1.2em; */
}
.main-title{
    width: 40vw;
    text-align: center;
    position: relative;
    left: 30%;
}
.new{
    font-size: 2em;
    font-weight: 600;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;
    /* width: 30vw; */
    gap: 20px;
    margin: auto ;
}
.item-section{
    display: flex;
    flex-direction: column;
}
.img-title{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.section{
    /* background-color: beige; */
}
.details{
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* width: 20vw; */
}
.details-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.gender-selection{
    padding: 1.2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 10px;
}
.gender{
    width: 30vw;
}

.gender>img:hover{
    transform: scale(0.9);
    transition: 0.6s ease;
}
.shop{
    padding:0em 1em; 
    color: grey;
}
.genderImg{
    width: 100%;
}
/* .new-arrivals{
    padding: 1.2em;
} */
.new-arrivals>span{
    font-size: 1.5em;
    font-weight: bold;
}

.collection{
    padding: 1.2em 0em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 1em;
}
.collection-section-1, .collection-section-2{
    width: 40vw;
}
.collectionImage{
    width: 100%;
    height: 100%;
}

.collection-section-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}
/* .animation{
    background-image: url('https://themewagon.github.io/kaira/images/text-pattern.png');
    background-size: cover;
    height: 100vh;
} */

.blogs-section{
    padding: 1.2em;
    display: flex;
    flex-direction: column;
}
.title{
    padding: 1em 0em;
    display: flex;
    justify-content: space-between;
}

.articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.article-1{
    width: 28vw;
    height: 60vh;
}
.article-1>img{
    height: 50%;
    width: 100%;
}
.articleData{
    display: flex;
    flex-direction: column;
}
.articleDate{
    font-size: 1em;
}
.articleDescri{
    font-size: 1.5em;
    padding: 0.8em 0em;
}
.viewAll{
    font-size: 1em;
    font-weight: 100;
    text-decoration: underline;
}

.logoSection{
    margin: 1.2em 0em;
    padding: 1.2em 0em;
    display: flex;
    justify-content: space-between;
}
.logoImage{
    width: 15vw;
    height: 80px;
}

.letters{
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    padding: 1.2em 0em;
}
.letters-top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lettersImgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}
.lettersImage{
    height: 30vh;
    width: 15%;
}
.follow{
    background-color: black;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 6px;
    position: absolute;
    left: 40%;
    bottom: -20px;
}

.letters-top-section{
    padding: 10% 0%;
}
.letterTitle{
    font-size: 3em;
    margin: 20px 0px;
}
input[type='text']{
    width: 50vw;
    height: 50px;
    margin-bottom: 20px;
}
.button{
    background-color: black;
    color: #fff;
    width: 50vw;
    padding: 10px;
}


@media screen and (max-width:650px){
    body{
        overflow-x: hidden;
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details-card{
        width: 50vw;
    }
    .main-title{
        width: 60vw;
        margin-left: -50px;
    }
    .items{
        display: flex;
        flex-direction: column;
    }
    .img-title{
        width: 80vw;
    }
    #itemSection1,#itemSection3, #itemSection5{
        display: none;
    }
    .itemImage{
        height: 400px;
        width: 300px;
    }
    .gender-selection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gender{
        width: 80vw;
    }
    .collection{
        display: flex;
        flex-direction: column;
    }
    .collection-section-1, .collection-section-2{
        width: 80vw;
    }
    .title{
        font-size: 1em;
        font-weight: 600;
    }
    .articles{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        place-items: center center;
    }
    .article-1{
        width: 60vw;
    }
    .logoSection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10% 3%;
    }
    .logoImage{
        width: 40vw;
    }
    #logoImage{
        display: none;
    }
    .lettersImgs{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        gap: 10px 10px;
    }
    .lettersImage{
        height: 25vh;
        width: 28vw;
    }
    .follow{
        left: 30%;
        bottom: 0px;
    }
    .letterTitle{
        font-size: 2.5em;
        margin: 20px 0px;
    }
    input[type='text'], .button{
        width: 80vw;
    }
}